<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/about.css' %}">{% endblock %}
    {% block content %}
 <section id="about-us" class="alt">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static 'images/logo.jpg' %}"
                    class="img-fluid" alt="About Us">
            </div>
            <div class="col text-col">
                <h1>About Us</h1>
                <p><i class="fa-solid fa-arrow-right"></i> Nature’s Protection and its team of veterinary and nutritional experts as well as manufacturing specialists have a deep understanding of how quality nutrition has an impact on a healthy and long life. This knowledge and expertise is consistently applied in the product formulas to ensure a mutually enjoyable and beneficial human-pet relationship.
                  The entire product range offers a wealth of benefits, which cover the majority of the specific needs under various circumstances of life stage, life style and special conditions. </p>
                <p><i class="fa-solid fa-arrow-right"></i>    We are a passionate team of animal lovers dedicated to finding loving forever homes for dogs and cats in need. Our mission is to rescue, rehabilitate, and rehome these furry companions, providing them with the second chance they deserve. With years of experience in animal welfare, we are committed to providing the best care possible to our rescues and ensuring that each adoption is a perfect match. Thank you for joining us in our efforts to save lives and create happy, healthy families with our beloved pets.</p>
            </div>
        </div>
    </div>
</section>
 
<section class="section_card">
  <div class="wrapper">
    
    <div class="card card-1" >
      <img src="{% static 'images/wheat.jpg' %}" alt=""/>
      <h3>WHEAT FREE</h3>
            <p class="long_p">All feeds of this line are wheat free, therefore pets which are allergic to wheat or its gluten will be able to enjoy the feeds. </p>
            
    </div>

    <div class="card card-2">
      <img src="{% static 'images/zeogen.jpg' %}" alt=""/>
      <h3>MICROZEOGEN</h3>
      <p class="long_p">Due to its traitsMicroZeoGen can help to remove toxins, heavy metals, ammonia from the pet's body and strengthen immune system.</p>
    </div>

    <div class="card card-3">
      <img src="{% static 'images/dairy.jpg' %}" alt=""/>
      <h3>DAIRY FREE</h3>
      <p class="long_p">Feeds do not contain milk and its products, so they are suitable for pets that do not tolerate lactose.</p>
    </div>
    </div>
    </section>
    <div class='hero-container'>
    
      <div class='hero-content'>
          
          <div class="page-title">
              <h1>Why us?</h1>
              <h2>Quality is a total concept for us, including the fine ingredients we use and the products we deliver as well as the service we provide to our loyal customers.</h2>
          </div>
          
          <div class='ft-card-container'>
              <a href="" class='ft-card-img image-0'></a>
              <div class='ft-card'>
                      <div class='ft-card-text'>
                          <a href='#' class='ft-card-title'>Life at it's best!</a>
                          <p class='ft-card-description'>The Nature’s Protection brand aims to celebrate life! We celebrate both the pet’s and the pet owner’s life. That is why our Mission Statement revolves around the human-animal bond. That is also why the true needs of dogs and cats come first for us. Because only when feeding dogs and cats the way nature intended, we can expect a healthy longevity for our four footed companions.</p>
                      </div>
              </div>
          </div>
      </div>   
  </div>
  {% endblock %}

